.form-cont-vista-carrito {

    display: flex;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    margin: 10vh;

}

.form-tit-carrito {

    margin: 2vh 0 2vh 4vh;

}

.cont-detalle-carrito {

    display: flex;
    flex-direction: row;
    margin: 4vh;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;

}

.cont-info-pedido {

    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: row;
    margin: 0 0 0 15vh;

}

.form-img-carrito {


    max-width: 7vh;
    max-height: 7vh;
}

.form-name-carrito {

    margin: 0 0 0 1vh;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.cont-pedido {

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
}

.color-eliminar-carrito {

    height: 5vh;
    width: 5vh;
    border-radius: 1vh;
    color: white;
    text-decoration: none;
    margin: 0 1vh 0 1vh;

}

.color-agregar-carrito {

    height: 5vh;
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    color: white;
    text-decoration: none;
    margin: 0 0 0 1vh;

}

.form-cont-total {

    margin: 0 0 2vh 4vh;
}



@media(max-width: 991px) {

    .form-tit-carrito {

        font-size: large;
    }

    .cont-info-pedido {

        margin: 0 0 0 0;

    }

    .form-name-carrito {

        font-size: medium;
    }

    .form-total {

        font-size: large;
        margin: 2vh 0 2vh 0;

    }
}

