.form-cont-vista-carrito{

    display: flex;
    flex-direction: column;
    background-color: rgb(207, 207, 207);
    margin: 10vh;
}

.form-img-carrito{


    max-width: 5vh;
    max-height: 5vh;
}

.form-name-carrito{

    margin: 0 0 0 1vh;
    text-align: center;
    text-transform: capitalize;
}

.cont-list-group{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vh;


}

.cont-pedido{

    display: flex;
    flex-direction: row;
    align-items: center;

}