.form-cont-pizzas{
    
    margin: 15vh 8vh 0 8vh ;

}

.form-name {

    text-transform: capitalize;
}

.form-ul{

    margin: 2vh 0 2vh 0;

}

.form-lista{

    list-style: none;
    text-transform: capitalize;

    
}

.form-img-list{

    width: 4vh;
    height: 4vh;
    margin: 2vh 1vh 2vh 1vh;

}

.form-precio{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 2vh 0;

}

.form-cont-gen-button{

    display: flex;
    flex-direction: row;

}

.form-cont-ver-mas{

    display: flex;
    flex-direction: row;
    width: 50%;
    height: 7vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.color-ver-mas{

    background-color:rgb(90, 223, 233) ;
    width: 80%;
    border-radius: 1vh;
    color: white;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-img-button{

    width: 4vh;
    height: 4vh;
    margin: 2vh 1vh 2vh 1vh;
}

.form-cont-agregar{

    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    height: 7vh;
    
}

.color-agregar{

    background-color:rgb(247, 87, 82);
    width: 80%;
    border-radius: 1vh;
    color: white;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;

}

